* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgba(251, 185, 222);
  background: linear-gradient(
    112deg,
    rgba(251, 185, 222, 1) 0%,
    rgba(139, 247, 249, 1) 100%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.container {
  width: 80%;
  height: 70%;
  position: relative;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); /* GLASS EFFECT CSS */
  border-radius: 20px;
  background: inherit;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

.container .content-text {
  color: white;
  width: 100%;
  padding: 0 50px;
}

.container .content .content-text.right {
  text-align: right;
  margin-top: 170px;
}

.container .content .content-text.left {
  margin-top: -300px;
}

.container .content-text h1,h3 {
  margin: 0;
}

.container .content-text h1 {
  font-size: 56px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  font-weight: bold;
}

nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  color: white;
}

nav ul li {
  margin: 0 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.content {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}

.content img {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  animation: move 2s infinite  ease-in-out alternate;
}

.content .social-media {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content:center;
  width: fit-content;
  height: 100%;
}

.content .social-media svg {
  margin: 15px 30px;
}

/* ANIMATION SVG*/
.content .social-media svg:hover {
  transform: translateY(-15px);
}

.pre-order {
  background: #F85A26;
  padding: 15px;
  margin-left: auto;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content:center;
  color: white;
  font-weight: bold;
  border-radius: 8px 0 0 0;
}

.pre-order svg{
  margin-right: 15px;
}

svg {
  cursor: pointer;
}

@keyframes move{
  from {
    transform: translate(-50%, -55%) rotate(-25deg);
  }
}